<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113083768-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113083768-2');
    </script>
    <%- partial('partial/head') %>
  </head>

  <body>
    <%- partial('partial/nav') %>
    <%- partial('partial/header') %>
    <article id='article'>
      <% if (false){ %>
        <h1>준비중...</h1>
      <% } else { %>
        <% if (page.layout === 'about') {%>
          <%- partial('about') %>
        <% } else {%>
          <%- body %>
        <% } %>
      <% } %>
      
    </article>
    <%- partial('partial/footer') %>
    <div class='clear'></div>
  </body>
</html>
