<!DOCTYPE html>
<html>
  <head>
    <%- partial('partial/head') %>
  </head>

  <body>
    <%- partial('partial/nav') %>
    <%- partial('partial/header') %>
    <article id='article'>
      <% if (true){ %>
        <h1>준비중...</h1>
      <% } else { %>
        <% if (page.layout === 'about') {%>
          <%- partial('partial/about') %>
        <% } else {%>
          <%- body %>
        <% } %>
      <% } %>
      
    </article>
    <%- partial('partial/footer') %>
    <div class='clear'></div>
  </body>
</html>
