<div id="post">
  <div id="post-info">
    <span id="post-date">
      <%= date(page.date, config.date_format) %>
    </span>
    <% if (page.tags.length > 0) { %>
      <% page.tags.each(function(tag) { %>
        <span class="post-tag-name">#<%- tag.name %></span>
      <% }) %>
    <% } %>
  </div>

  <div id="post-content">
    <%- page.content %>
  </div>
</div>
<a id="post-link-home" href='/'>&#8592; Back</a>
<br><br><br>
<div id="disqus_thread"></div>

<script type="text/javascript">
  var host = window.location.hostname;
  if (host !== "localhost"){
    var disqus_config = function () {
    this.page.url = "<%= page.permalink %>";  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = "<%= page.permalink %>"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE

    var d = document, s = d.createElement('script');
    s.src = 'https://callmemaru.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  }

</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
